<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lishui.example.player">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ExoPlayerActivity"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="lishui.example.player.action.EXO_PLAYER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>