<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lishui.example.common">

    <application>
        <activity
            android:name=".ui.PermissionCheckActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/permission_activity_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>